<!-- start Simple Custom CSS and JS -->
<style type="text/css">
:root {
	--color-heading: #111827;
	--color-body: #4B5563;
	--color-heading-inverse: #FFF;
	--color-body-inverse: #E5E7EB;
}

html[data-theme="light"],
html[data-theme="dark"] {
	
/* -------------	BLOG HERO ----------------- */
	.blog-hero-container {
		
	}
	
/* ---------	BLOG PREVIEW CARDS SINGLE ------- */
	.blog-preview-cards-single {
		.blog-preview-cards-single-heading {
			h3 {

			}
			a {
				border-width: 1px;
				border-style: solid;
				padding: 8px 14px !important;
				border-radius: 8px !important;
				display: flex;
				align-items: center;
				gap: 8px;
				
				&::after {
					content: '';
					width: 20px;
					height: 20px;
				}
			}
		}
		.blog-preview-cards-single-right {
			h4 {
				  display: -webkit-box;
				  -webkit-line-clamp: 2;
				  -webkit-box-orient: vertical;
				  overflow: hidden;
				  text-overflow: ellipsis;
			}
		}
	}
	
/* ----------	BLOG PREVIEW CARDS S ---------- */
	.blog-preview-cards-s-container {
		
		.blog-preview-cards-s-heading {
			h3 {

			}
			a {
				border-width: 1px;
				border-style: solid;
				padding: 8px 14px !important;
				border-radius: 8px !important;
				display: flex;
				align-items: center;
				gap: 8px;
				
				&::after {
					content: '';
					width: 20px;
					height: 20px;
				}
			}
		}
		.bpc-s {
			h3 {
				a {
					  display: -webkit-box;
					  -webkit-line-clamp: 2;
					  -webkit-box-orient: vertical;
					  overflow: hidden;
					  text-overflow: ellipsis;
				}
			}
		}
	}
}

html[data-theme="light"] {
/* -------------	BLOG HERO ----------------- */
	.blog-hero-container {
		ul {
			li {
				a {
					time {
						color: var(--color-body);
					}
				}
			}
		}
		h2 {
			a {
				color: var(--color-heading) !important;
			}
		}
		p {
			a {
				color: var(--color-body) !important;
			}
		}
	}
	
/* ---------	BLOG PREVIEW CARDS SINGLE ------- */
	.blog-preview-cards-single {
		.blog-preview-cards-single-heading {
			h3 {
				color: var(--color-heading);
			}
			a {
				background-color: #fff;
				color: #374151;
				border-color: #D1D5DB;
				padding: 8px 14px;
				border-radius: 8px;
				
				&::after {
					background: url('wp-content/themes/oneroyal/images/icons/view-all-arrow-right.svg');
				}
			}
		}
	}
	
/* ----------	BLOG PREVIEW CARDS S ---------- */

	.blog-preview-cards-s-container {
		
		.blog-preview-cards-s-heading {
			h3 {
				color: var(--color-heading);
			}
			a {
				background-color: #fff;
				color: #374151;
				border-color: #D1D5DB;
				padding: 8px 14px;
				border-radius: 8px;
				
				&::after {
					background: url('wp-content/themes/oneroyal/images/icons/view-all-arrow-right.svg');
				}
			}
		}
		.bpc-s {
			ul {
				li {
					a {
						color: var(--color-body);
						
						time {
							color: var(--color-body);
						}
					}
				}
			}
			h3 {
				a {
					color: var(--color-heading);
				}
			}
		}
	}
}

html[data-theme="dark"] {
	
}</style>
<!-- end Simple Custom CSS and JS -->
